<div class="flex justify-center rounded-xl py-8 bg-red-200">
    <table class="w-100 rounded" *ngIf="users.length != 0">
        <tr>
            <th class="cursor-pointer" (click)="sort('id')">Id</th>
            <th class="cursor-pointer" (click)="sort('name')">Name</th>
            <th class="cursor-pointer" (click)="sort('phone')">Phone</th>
            <th class="cursor-pointer" (click)="sort('email')">Email</th>
            <th class="cursor-pointer" (click)="sort('username')">Username</th>
        </tr>
        <tr class="p-2 border bg-white" *ngFor="let user of users">
            <td class="p-2">{{user.id}}</td>
            <td class="p-2">{{user.name}}</td>
            <td class="p-2">{{user.phone}}</td>
            <td class="p-2">{{user.email}}</td>
            <td class="p-2">{{user.username}}</td>
        </tr>
    </table>    
</div>